replicaCount: 1

image:
  repository: jgiovaresco/apim-samples
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext:
  runAsUser: 1001
  runAsNonRoot: true

probes:
  liveness:
    httpGet:
      path: /q/health/live
      port: http
    periodSeconds: 10
    failureThreshold: 3
  readiness:
    httpGet:
      path: /q/health/ready
      port: http
    periodSeconds: 10
    failureThreshold: 3

lifecycle:
  preStop:
    exec:
      command: ["/bin/sh", "-c", "sleep 5"]

service:
  type: ClusterIP
  port:
    http: 80

ingress:
  http:
    enabled: false
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx

    path: /
    pathType: Prefix
    hosts:
      - host: chart-example.local
    tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

app:
  http:
    port: 8888
