name: Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          token: ${{ secrets.GH_TOKEN }}
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Cache node modules
        id: cache
        uses: actions/cache@v5.0.0
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint
        run: |
          yarn lint

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v3
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build docker --scan
      - name: Upload build reports
        uses: actions/upload-artifact@v5
        with:
          name: build-reports
          path: build/reports/

      - name: Release
        run: |
          yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
